<div>Syndicate:</div>
<a href="<%= url_for :controller=>'xml', :action=>'rss' %>" title="RSS 2.0 feed">rss</a>
<strong>|</strong>
<a href="<%= url_for :controller=>'xml', :action=>'atom' %>" title="Atom 0.3 feed">atom</a>
